body {
    font-family: Arial, sans-serif;
    color: #f8f9fa;
    background-color: #212529;  /* darker background */
}

header {
    background-color: #343a40;  /* slightly lighter than the body background for contrast */
    padding: 20px;
    text-align: center;
    color: #f8f9fa;  /* light text on dark background */
}

section {
    margin: 20px;
}

pre[class*="language-"],
code[class*="language-"] {
    color: #f8f9fa;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

article {
    margin-bottom: 20px;
    border: 1px solid #495057;  /* dark border */
    padding: 20px;
    border-radius: 4px;
    background-color: #343a40;  /* dark background */
}

h3 {
    margin-bottom: 0;
    color: #f8f9fa;  /* light text on dark background */
}

p.description {
    font-style: italic;
    color: #adb5bd;  /* slightly darker text for contrast */
}
